
@{
    ViewBag.Title = "LogOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>退出登录成功。</h2>

<h3>@Html.ActionLink("返回登录页面", "../BackStage/Index")</h3>
<h3><script>
        setInterval("document.getElementById('datetime').innerHTML=new Date().toLocaleString();", 1000);
    </script>
</h3>


